.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
}

.checkbox-custom:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox-input:checked+.checkbox-custom:after {
  opacity: 1;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  color: white;
}