table.item-list__table{
    /* width: 100%; */
}
table.item-list__table, .item-list__table td,.item-list__table th,.item-list__table tr{
    /* border:1px solid var(g); */
    @apply  border border-solid border-gray-300;

}


table.item-list__table td, table.item-list__table th{
    width: 100%;
    padding: 1rem;
    font-size: var(--text--sm); 
    text-align: center;
    @apply  border border-solid border-gray-300;


}
table.item-list__table tr:nth-child(even){
    /* background-color: var(--white--10);
     */
     @apply bg-gray-100;
}

.item-list__table thead tr th{
    color: var(--primary--500);
    /* background: var(--white--50); */
    
}

.darkCardBg table.item-list__table tr:nth-child(even){
    background-color: inherit;
}

.dark-mode table.item-list__table select{
    background-color: #2f3349;
}

.width-3-4{
    width: 70%;
}


.item-list__table__container {
    max-width: calc(100vw - 150px);;

    /* max-width: 80%; */
    overflow-x: scroll; 
    scroll-behavior: smooth;
    scrollbar-width: 3px;
    display: block; /* Ensure block display for scrolling */
    white-space: nowrap;
    scrollbar-width:thin;
    
    
}
.item-list__table__container table td,.item-list__table__container table tr{
    border-width: 1px;
    border-style: solid;
}
.item-list__table__container::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #aaa; /* or add it to the track */
}
.item-list__table__container::-webkit-scrollbar {
    background: #000;
}

@media (max-width:1300px){
    .width-3-4{
        width: 80%;
    }
}
@media (max-width:1000px){
    .width-3-4{
        width: 100%;
    }
}

@media (min-width:1250px){
    .item-list__table__container{
        max-width:  calc(100vw - 150px);
        width: 90%;
    }
}
@media (max-width:1250px){
    .item-list__table__container{
        max-width: 950px;
        width: 1200px;
    }
    .table.item-list__table{
        width: 1200px;
    }
}
@media (max-width:1100px){
    .item-list__table__container{
        max-width: calc(100vw - 150px);
        width: 1400px;
    }
    
}
.link-add{
    background-color: unset !important;
    color: #269bdd !important;
    width: 145px !important;
}
.modal-footer{
    display: flex;
    justify-content: space-between !important;
}