.otp__input {
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.otp__input >div:first-child{
    justify-content: space-between;
}

.otp__input >div input{
    width: 38px !important;
    height: 38px !important;
    border-radius: .4rem;
    border: 1px solid var(--secondary--200);
}