.input__container__input{
   border: 1px solid #dbdade;
   padding: .35rem 1rem;
  border-radius: .25rem;
}
.input__container__input input {
   background-color: inherit;

}
.input__container__input input:focus-visible {
   outline: none;
}

.input__container__input svg{
   cursor: pointer;
}

.input__container .invalid__feedback{
   color:red;
   font-size: 14px;
}